@import "tailwindcss";
@import "tw-animate-css";
@import './toast.css';

@plugin 'tailwindcss-react-aria-components';

@theme inline {
  --font-sans: var(--font-inter), system-ui;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-mono: var(--font-geist-mono);
  --font-mono--font-feature-settings: "ss02", "zero";
}

@theme {
  --color-bg: var(--color-white);
  --color-fg: var(--color-gray-950);

  --color-primary: var(--color-blue-600);
  --color-primary-fg: oklch(1 0 0);
  --color-primary-subtle: theme('color-blue-500/15%');
  --color-primary-subtle-fg: var(--color-blue-700);

  --color-secondary: var(--color-gray-100);
  --color-secondary-fg: var(--color-gray-950);

  --color-overlay: var(--color-white);
  --color-overlay-fg: var(--color-gray-950);

  --color-accent: oklch(0.92 0.004 286.32);
  --color-accent-fg: oklch(0.141 0.005 285.823);

  --color-muted: var(--color-gray-100);
  --color-muted-fg: var(--color-gray-600);

  --color-success: var(--color-emerald-600);
  --color-success-fg: var(--color-white);
  --color-success-subtle: theme('color-emerald-500/15%');
  --color-success-subtle-fg: var(--color-emerald-700);

  --color-info-subtle: theme('color-sky-500/15%');
  --color-info-subtle-fg: var(--color-sky-700);

  --color-warning: var(--color-amber-400);
  --color-warning-fg: var(--color-amber-950);
  --color-warning-subtle: theme('color-amber-400/20%');
  --color-warning-subtle-fg: var(--color-amber-700);

  --color-danger: var(--color-rose-600);
  --color-danger-fg: var(--color-rose-50);
  --color-danger-subtle: theme('color-rose-500/15%');
  --color-danger-subtle-fg: var(--color-rose-700);

  --color-border: var(--color-gray-300);
  --color-input: var(--color-gray-300);
  --color-ring: var(--color-primary);

  --color-navbar: oklch(0.988 0 0);
  --color-navbar-fg: var(--color-gray-950);

  --color-sidebar: var(--color-gray-50);
  --color-sidebar-fg: var(--color-gray-950);

  --color-chart-1: var(--color-blue-600);
  --color-chart-2: var(--color-blue-400);
  --color-chart-3: var(--color-blue-300);
  --color-chart-4: var(--color-blue-200);
  --color-chart-5: var(--color-blue-100);


  --radius-lg: 0.6rem;
  --radius-xs: calc(var(--radius-lg) * 0.5);
  --radius-sm: calc(var(--radius-lg) * 0.75);
  --radius-md: calc(var(--radius-lg) * 0.95);
  --radius-xl: calc(var(--radius-lg) * 1.25);
  --radius-2xl: calc(var(--radius-lg) * 1.5);
  --radius-3xl: calc(var(--radius-lg) * 2);
  --radius-4xl: calc(var(--radius-lg) * 2.5);
}

@utility touch-hitbox {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}

@layer base {
  ::selection {
    background-color: #DBEAFE;
    color: #155DFC;
  }

  *,
  ::before,
  ::after,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  * {
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 9999px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    background-color: var(--color-gray-950);
    color: var(--color-white);
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .react-aria-DropIndicator[data-drop-target] {
    outline: 1px solid var(--color-primary);
    transform: translateZ(0);
  }
}
